extends ./layout/index

block contenido
    main.container.mt-5 
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Fusce ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pharetra vestibulum justo, a luctus odio dictum id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec aliquam a mauris non luctus. Duis ut dui congue, mollis turpis nec, consectetur tortor. Nullam non eleifend nibh, in facilisis lorem. Ut condimentum nunc eros, at vulputate enim posuere vel. Mauris eget sapien lobortis, suscipit risus iaculis, maximus neque. 
                
                p elementum accumsan tempus. Nulla facilisis, sem a egestas lacinia, nisi urna molestie mauris, mollis posuere tellus nibh at elit. Pellentesque in velit non erat porttitor lobortis. Quisque eu felis ac dolor facilisis dictum. Nulla a sem at urna vehicula aliquam auctor quis risus. Cras sit amet ex odio. Suspendisse a laoreet velit. 

                p varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus eu justo vel urna ullamcorper hendrerit. Donec et nulla eget nulla ornare rhoncus. Mauris lacinia ipsum vel placerat dignissim. Nunc fermentum risus id sem eleifend convallis. Vivamus in quam ornare, lobortis magna eget, sodales nisi.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                .col-md-4   
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

